@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/light.css';

@import '../../vendor/lara-zeus/core/resources/css/_checkbox-cards.css';
/*@import '../../vendor/awcodes/filament-tiptap-editor/resources/css/plugin.css';*/

@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Blaka+Hollow&family=El+Messiri:wght@400;500;600;700&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lalezar&family=Reem+Kufi+Fun:wght@400;500;600;700&family=Reem+Kufi+Ink&family=Reggae+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[dir=rtl] {
    font-family: 'El Messiri', cursive;
}

[dir=rtl] .title-font {
    font-family: 'El Messiri', cursive;
}

[dir=ltr] {
    font-family: 'KoHo', 'sans-serif';
}

[dir=ltr] .title-font {
    font-family: 'Reggae One', sans-serif;
    @apply font-semibold
}

.bord {
    border: solid 1px red;
}

/*
 Margin and rounding are personal preferences,
 overflow-x-auto is recommended.
*/
pre {
    @apply rounded-md overflow-x-auto;
}

/*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
pre code.torchlight {
    @apply block py-4;
}

/*
 Horizontal line padding.
*/
pre code.torchlight .line {
    @apply px-4;
}

pre code.torchlight .line-number {
    @apply text-gray-50;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/
pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply ltr:mr-4 rtl:ml-4;
}
