.doc-list > #carbonads {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.doc-list > #carbonads {
    max-width: 728px;
    /*@apply bg-gradient-to-br from-white via-white to-gray-100 p-4;
    @apply shadow-md rounded-xl hover:shadow-xl;
    @apply hover:ring-1 hover:ring-gray-200 hover:border-secondary-500;*/
    @apply mx-auto text-lg relative block overflow-hidden
}

.doc-list > #carbonads > span {
    display: block;
}

.doc-list > #carbonads a {
    color: inherit;
    text-decoration: none;
}

.doc-list > #carbonads a:hover {
    color: inherit;
}

.carbon-wrap {
    display: flex;
    align-items: center;
}

.doc-list > .carbon-img {
    display: block;
    margin: 0;
    line-height: 1;
}

.doc-list > .carbon-img img {
    display: block;
    height: 100px;
    width: auto;
    @apply mx-auto;
}

.doc-list .carbon-text {
    display: block;
    padding: 1em;
    line-height: 1.35;
    text-align: left;
}

.doc-list .carbon-poweredby {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 6px 10px;
    background: repeating-linear-gradient(
            -45deg,
            transparent,
            transparent 5px,
            hsla(0, 0%, 0%, 0.025) 5px,
            hsla(0, 0%, 0%, 0.025) 10px
    )
    hsla(203, 11%, 95%, 0.8);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 8px;
    border-top-left-radius: 4px;
    line-height: 1;
}

/*
@media only screen and (min-width: 320px) and (max-width: 759px) {
    .doc-list > .carbon-text {
        font-size: 14px;
    }
}
*/

















.doc-show > #carbonads {
    display: block;
    overflow: hidden;
    padding: 1em;
    /*max-width: 130px;*/
    background: #fff;
    text-align: center;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.5;
}

.doc-show > #carbonads a {
    color: inherit;
    text-decoration: none;
}

.doc-show > #carbonads a:hover {
    color: inherit;
}

.doc-show > #carbonads span {
    display: block;
    overflow: hidden;
}

.doc-show > .carbon-img {
    display: block;
    margin: 0 auto 8px;
    line-height: 1;
}

.carbon-img img {
    @apply mx-auto;
}

/*.doc-show > .carbon-text {
    display: block;
    margin-bottom: 8px;
}*/

.doc-show .carbon-poweredby {
    display: inline;
    bottom: 0;
    right: 0;
    padding: 6px 10px;
    background: repeating-linear-gradient(
            -45deg,
            transparent,
            transparent 5px,
            hsla(0, 0%, 0%, 0.025) 5px,
            hsla(0, 0%, 0%, 0.025) 10px
    )
    hsla(203, 11%, 95%, 0.8);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 8px;
    border-top-left-radius: 4px;
    line-height: 1;
}

.sponsors-blurb {
    padding: 1em;
    font-size: 12px;
    line-height: 1.4;
}
