@import '../../vendor/lara-zeus/core/resources/css/_checkbox-cards.css';
@import '../../node_modules/cropperjs/dist/cropper.css';
@import 'tippy.js/dist/tippy.css';
@import "carbon.css";

@config "../../tailwind-daisy.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Sky search result highlight */
    span.highlight {
        @apply bg-primary-200 text-primary-700 px-2
    }
}

@layer utilities {
    /* debug tool 😜 */
    .bord {
        border: solid 1px chocolate;
    }
}

.fi-section, .fi-fo-tabs, .fi-fo-repeater-item, .fi-ta-ctn {
    @apply !w-full card card-compact w-full bg-base-100 shadow-lg;
}

[dir=rtl] {
    font-family: 'Almarai','Karla', sans-serif !important;
}

[dir=rtl] .title-font {
    font-family: 'Almarai', sans-serif !important;
}

[dir=ltr] {
    font-family: 'Karla', 'Almarai', sans-serif !important;
}

[dir=ltr] .title-font {
    font-family: 'Reggae One', 'Almarai', sans-serif !important;
    @apply font-semibold
}
