@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Reggae+One&display=swap');

@import '../../vendor/filament/filament/resources/css/theme.css';
@import '../../vendor/awcodes/filament-tiptap-editor/resources/css/plugin.css';
@import '../../vendor/awcodes/filament-curator/resources/css/plugin.css';

@import '../../node_modules/cropperjs/dist/cropper.css';

@import 'tippy.js/dist/tippy.css';
@config "../../tailwind-another-portfolio.config.js";

[dir=rtl] {
    font-family: 'Almarai', 'Karla', sans-serif !important;
}

[dir=rtl] .title-font {
    font-family: 'Almarai', sans-serif !important;
}

[dir=ltr] {
    font-family: 'Karla', 'Almarai', sans-serif !important;
}

[dir=ltr] .title-font {
    font-family: 'Reggae One', 'Almarai', sans-serif !important;
    @apply font-semibold
}

.bord {
    border: solid 1px red;
}

/*
 Margin and rounding are personal preferences,
 overflow-x-auto is recommended.
*/
pre {
    @apply rounded-md overflow-x-auto;
}

/*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
pre code.torchlight {
    @apply block py-4;
}

/*
 Horizontal line padding.
*/
pre code.torchlight .line {
    @apply px-4;
}

pre code.torchlight .line-number {
    @apply text-gray-50;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/
pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply ltr:mr-4 rtl:ml-4;
}
