@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Reggae+One&display=swap');

@import '../../vendor/filament/filament/resources/css/theme.css';
/*@import '../../vendor/awcodes/filament-tiptap-editor/resources/css/plugin.css';*/
@import '../../vendor/awcodes/filament-curator/resources/css/plugin.css';
@import '../../vendor/archilex/filament-filter-sets/resources/css/plugin.css';
@import '../../node_modules/cropperjs/dist/cropper.css';
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';
/*@import "filament/zeus.css";*/
@import '../../vendor/lara-zeus/akin/resources/css/theme.css';

.compact-timeline .fi-timeline-item-heading {
    @apply flex-col items-start md:space-y-0 md:space-x-0 gap-2 md:flex-col !important;
}
.compact-timeline .fi-timeline-section-content {
    @apply p-0 !important;
}
.compact-timeline {
    @apply ring-0 !important;
}

.field-type .choices__list--single {
    @apply !w-full;
}

.field-type .choices__list--single .tip, .field-type .choices__list--single .field-desc {
    @apply !hidden;
}

:root {
    --c-50: var(--primary-50);
    --c-100: var(--primary-100);
    --c-200: var(--primary-200);
    --c-300: var(--primary-300);
    --c-400: var(--primary-400);
    --c-500: var(--primary-500);
    --c-600: var(--primary-600);
    --c-700: var(--primary-700);
    --c-800: var(--primary-800);
    --c-900: var(--primary-900);
}

[dir=rtl] {
    font-family: 'Almarai', 'Karla', sans-serif !important;
}

[dir=rtl] .title-font {
    font-family: 'Almarai', sans-serif !important;
}

[dir=ltr] {
    font-family: 'Karla', 'Almarai', sans-serif !important;
}

[dir=ltr] .title-font {
    font-family: 'Reggae One', 'Almarai', sans-serif !important;
    @apply font-semibold
}

.bord {
    border: solid 1px red;
}

.fi-sidebar-group-paid {
    @apply !bg-primary-50/30 dark:!bg-primary-900;
    @apply dark:!text-gray-100;
    @apply my-2 p-1;
}

.fi-modal-close-overlay{
    @apply backdrop-blur-sm;
}