@theme {
    --color-primary-50: #c6e9e2;
    --color-primary-100: #b8e4db;
    --color-primary-200: #9ad8cc;
    --color-primary-300: #7dcdbd;
    --color-primary-400: #5fc1ae;
    --color-primary-500: #45b39d;
    --color-primary-600: #358b79;
    --color-primary-700: #266256;
    --color-primary-800: #163a32;
    --color-primary-900: #07110f;
    --color-primary-950: #000000;
    --color-primary: #45b39d;

    --color-secondary-50: #fdf2f0;
    --color-secondary-100: #fce7e5;
    --color-secondary-200: #f9d2ce;
    --color-secondary-300: #f6beb8;
    --color-secondary-400: #f4a9a1;
    --color-secondary-500: #f1948a;
    --color-secondary-600: #eb6658;
    --color-secondary-700: #e53826;
    --color-secondary-800: #bc2717;
    --color-secondary-900: #8a1c11;
    --color-secondary-950: #71170e;
    --color-secondary: #f1948a;
}
