@import '/vendor/filament/filament/resources/css/theme.css';

@import '/vendor/awcodes/filament-curator/resources/css/plugin.css';
/*@import '/vendor/archilex/filament-filter-sets/resources/css/plugin.css';*/
@import '/node_modules/cropperjs/dist/cropper.css';

@config 'tailwind.config.js';

.compact-timeline .fi-timeline-item-heading {
    @apply shadow-none flex-col items-start md:space-y-0 md:space-x-0 gap-2 md:flex-col !important;
}
.compact-timeline .fi-timeline-section-content {
    @apply shadow-none p-0 !important;
}
.compact-timeline {
    @apply shadow-none ring-0 !important;
}

.field-type .choices__list--single {
    @apply !w-full;
}

.field-type .choices__list--single .tip, .field-type .choices__list--single .field-desc {
    @apply !hidden;
}

:root {
    --c-50: var(--primary-50);
    --c-100: var(--primary-100);
    --c-200: var(--primary-200);
    --c-300: var(--primary-300);
    --c-400: var(--primary-400);
    --c-500: var(--primary-500);
    --c-600: var(--primary-600);
    --c-700: var(--primary-700);
    --c-800: var(--primary-800);
    --c-900: var(--primary-900);
}

[dir=rtl] {
    font-family: 'Almarai', 'Montserrat', sans-serif !important;
}

[dir=rtl] .title-font {
    font-family: 'Almarai', sans-serif !important;
}

[dir=ltr] {
    font-family: 'Montserrat', 'Almarai', sans-serif !important;
}

[dir=ltr] .title-font {
    font-family: 'Montserrat', 'Almarai', sans-serif !important;
    @apply font-semibold
}

.bord {
    border: solid 1px red;
}

.fi-sidebar-group-paid {
    @apply !bg-primary-50/30 dark:!bg-primary-900;
    @apply dark:!text-gray-100;
}

.fi-modal-close-overlay{
    @apply backdrop-blur-sm;
}

.fi-sidebar {
    @apply shadow-md bg-white dark:bg-gray-950 !important;
}



.custom-auth-empty-panel {
    background-image: var(--filament-backgrounds-image);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;

    &::before {
        background: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0) 25%) no-repeat;
        background-size: cover;
        content: var(--filament-backgrounds-attribution-backdrop);
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
    }

    &::after {
        bottom: 2rem;
        color: white;
        content: var(--filament-backgrounds-attribution);
        left: 2rem;
        position: absolute;
        text-shadow: 0 0 3px black;
    }
}

/* N.B. This selector has to be more specific for dark mode compatibility */
.fi-simple-main.fi-simple-main.fi-simple-main {
    position: relative;
    --tw-bg-opacity: 0.9;
    --tw-ring-color: transparent;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: inherit;
        backdrop-filter: blur(3px);
    }
}
