@import "tailwindcss" important;

@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/archilex/filament-filter-sets/resources/css/plugin.css';
@import '../../../../vendor/saade/filament-fullcalendar/resources/css/filament-fullcalendar.css';
/*@import '../../../../vendor/lara-zeus/akin/resources/css/theme.css';*/
/*@import '../../../../vendor/awcodes/filament-curator/resources/css/plugin.css';*/

@source '../../../../app/Filament';
@source '../../../../resources/views/filament';

@source '../../../../vendor/lara-zeus/**/*';
@source '../../../../vendor/guava/filament-icon-picker/resources/**/*';
@source '../../../../vendor/awcodes/shout/resources/views/components/shout.blade.php';
@source '../../../../vendor/saade/filament-fullcalendar/resources/views/**/*.blade.php';
@source '../../../../vendor/diogogpinto/filament-auth-ui-enhancer/resources/**/*.blade.php';

@theme {
    --color-primary-50: #c6e9e2;
    --color-primary-100: #b8e4db;
    --color-primary-200: #9ad8cc;
    --color-primary-300: #7dcdbd;
    --color-primary-400: #5fc1ae;
    --color-primary-500: #45b39d;
    --color-primary-600: #358b79;
    --color-primary-700: #266256;
    --color-primary-800: #163a32;
    --color-primary-900: #07110f;
    --color-primary-950: #000000;
    --color-primary: #45b39d;

    --color-secondary-50: #fdf2f0;
    --color-secondary-100: #fce7e5;
    --color-secondary-200: #f9d2ce;
    --color-secondary-300: #f6beb8;
    --color-secondary-400: #f4a9a1;
    --color-secondary-500: #f1948a;
    --color-secondary-600: #eb6658;
    --color-secondary-700: #e53826;
    --color-secondary-800: #bc2717;
    --color-secondary-900: #8a1c11;
    --color-secondary-950: #71170e;
    --color-secondary: #f1948a;
}

[dir=rtl] {
    font-family: 'Almarai', 'Montserrat', sans-serif ;
}

[dir=rtl] .title-font {
    font-family: 'Almarai', sans-serif ;
}

[dir=ltr] {
    font-family: 'Montserrat', 'Almarai', sans-serif ;
}

[dir=ltr] .title-font {
    font-family: 'Montserrat', 'Almarai', sans-serif ;
    @apply font-semibold
}

.bord {
    border: solid 1px red;
}

.compact-timeline .fi-timeline-item-heading {
    @apply shadow-none flex-col items-start md:space-y-0 md:space-x-0 gap-2 md:flex-col ;
}

.compact-timeline .fi-timeline-section-content {
    @apply shadow-none p-0 ;
}

.compact-timeline {
    @apply shadow-none ring-0 ;
}

.field-type .choices__list--single {
    @apply w-full;
}

.field-type .choices__list--single .tip, .field-type .choices__list--single .field-desc {
    @apply !hidden;
}

.fi-sidebar-group-paid {
    @apply rounded-2xl !bg-primary-500/10 dark:!bg-primary-900;
    @apply dark:!text-gray-100;
    @apply border shadow-md border-b-2 border-primary-500/70 dark:border-primary-500/30;
}

.fi-modal-close-overlay {
    @apply backdrop-blur-sm;
}

.fi-sidebar {
    @apply shadow-md bg-white dark:bg-gray-950 ;
}

.custom-auth-empty-panel {
    background-image: var(--filament-backgrounds-image);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;

    &::before {
        background: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0) 25%) no-repeat;
        background-size: cover;
        content: var(--filament-backgrounds-attribution-backdrop);
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
    }

    &::after {
        bottom: 2rem;
        color: white;
        content: var(--filament-backgrounds-attribution);
        left: 2rem;
        position: absolute;
        text-shadow: 0 0 3px black;
    }
}

/* N.B. This selector has to be more specific for dark mode compatibility */
.fi-simple-main.fi-simple-main.fi-simple-main {
    position: relative;
    --tw-bg-opacity: 0.9;
    --tw-ring-color: transparent;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: inherit;
        backdrop-filter: blur(3px);
    }
}

.fi-header-heading, .fi-section-header-heading {
    @apply font-normal text-secondary-600 ;
}

.fi-breadcrumbs-item-label {
    @apply text-primary-600 ;
}

.fi-main-ctn {
    @apply bg-gray-100 dark:bg-gray-900 ;
}

/*
.fi-topbar {
    @apply hidden ;
}

.fi-main {
    @apply my-4 mb-4 bg-gray-50 rounded-3xl shadow-lg ;
}

.fi-main-ctn {
    @apply mx-10 ;
}

.fi-panel-admin, .fi-main-ctn, .fi-sidebar, .fi-sidebar-header {
    @apply bg-secondary-50 ;
}

.fi-sidebar, .fi-sidebar-header {
    @apply ring-0 shadow-none ;
}*/

.fi-page-sub-navigation-sidebar-ctn, .fi-section {
    @apply px-2 py-3 bg-gray-50 dark:bg-gray-950 border shadow-md hover:shadow-lg
    transition-all ease-in-out duration-300
    border-b-8 border-primary-500 border-b-primary-500/70 hover:border-b-primary-500 dark:border-primary-800 rounded-2xl ;
}

.fi-page-sub-navigation-sidebar {
    @apply rounded-2xl ;
}

.fi-active, .fi-active a, .fi-sidebar-item.fi-active {
    @apply rounded-2xl ;
}
